
.BigPic{
    width: 500;
    height: 1200;
}
.a{
    background-color:darkolivegreen;
}
.b{
    background-color:yellow;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{text-align: center;}